
/*--------------------- 0- Global CSS (Start) ---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --black: #000000;
    --white: #F7F5F2;
    --grey: #DFDFDE;
    --blue: #176B87;
    --navy: #001C30;
}

*{
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    border: none;
    outline: none;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
  	        transition: all 0.2s linear;
}

*::selection{
    color: var(--white);
    background-color: var(--blue);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    background-color: var(--navy);
}

section{
    padding: 2rem 5%;
}

::-webkit-scrollbar{
    width: 0.8rem;
}

::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    background-color: var(--blue);
}

::-webkit-scrollbar-track{
    background-color: var(--black);
}

.swiper-pagination-bullet{
    height: 1rem;
    width: 1rem;
    border-radius: 50rem;
    background-color: var(--grey);
}

.swiper-pagination-bullet-active{
    width: 3rem;
    background: var(--blue);
}

/*--------------------- 0- Global CSS (End) ---------------------*/

/*--------------------- 1- Heading CSS (Start) ---------------------*/

.heading{
    margin-bottom: 2rem;
}

.heading h2{
    text-align: center;
    padding-bottom: 2rem;
    color:var(--blue);
    font-size: 4rem;
}

.heading h2 span{
    position: relative;
    z-index: 0;
    color: var(--white);
}

.heading h2 span::before{
    content: '';
    position: absolute;
    bottom: -0.5rem; left: 0;
    z-index: -1;
    background: var(--blue);
    height: 0.2rem;
    width: 80%;
    margin-left: 10%;
}

/*--------------------- 1- Heading CSS (End) ---------------------*/

/*--------------------- 2- Button CSS (Start) ---------------------*/

.btn{
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: #000000;
    background-color: transparent;
    border: 0.2rem solid #000000;
}

.btn i{
    padding-left: 1rem;
}

.btn:hover{
    color: var(--white);
    background-color: var(--blue);
    cursor: pointer;
}
.btn1{
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: var(--blue);
    background-color: transparent;
    border: 0.2rem solid var(--navy);
}
.btn1 i{
        padding-left: 1rem;
}
    
.btn1:hover{
    color: var(--white);
    background-color: var(--blue);
    cursor: pointer;
}


/*--------------------- 2- Button CSS (End) ---------------------*/

/*--------------------- 3- Header Area CSS (Start) ---------------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 2rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--black);
    z-index: 999;
}
header.sticky{
    border-bottom: 0.1rem solid var(--grey);
    background: rgba(0, 0, 0, 0.8);
}
header .logo h2{
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--blue);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

header .link a{
    color: var(--white);
    font-size: 1.8rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px;
}

header .link a:hover,
header .link a.active{
    color: var(--blue);
}

.link {
    list-style-type: none;
    display: flex;
}

.link li {
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link a {
    text-decoration: none;
    color: #fff;
}

.menu-toggle {
    cursor: pointer;
    display: none;
    flex-direction: column;

}

.bar {
    height: 5px;
    width: 30px;
    background-color: #fff;
    margin: 6px 0;
}
/*--------------------- 3- Header Area CSS (End) ---------------------*/

/*--------------------- 4- Home Area CSS (Start) ---------------------*/
.home{
    padding: 0rem 5%;
    background-color: var(--blue);
    min-height: 100vh;
}

.home .box-container{
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
}

.home .image{
    display: flex;
    flex-wrap: wrap;;
    text-align: center;
    -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;

}

.home .image img{
    height: 80%;
    width: 100%;
    object-fit:var(--blue);
}

.home .image img{
    border: 0.9rem solid var(--white);
}

.home .content{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    margin-top: 7rem;
}

.home .content h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: #000000;
}

.home .content h1{
    font-size: 4rem;
    color: var(--white);
    padding: 1rem 0;
    text-transform: none;
}

.home .content h1 span{
    color: var(--navy);

}

.home .content p{
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--white);
    padding-bottom: 2rem;
    line-height: 1.5;
}
/*--------------------- 4- Home Area CSS (End) ---------------------*/


/*----------------------5- Footer Area CSS (Start) ---------------------*/
footer{
    background-color: var(--black);
    padding: 2rem 0;
    text-align: center;
}

footer .social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2rem 0;
}

footer .social .fab{
    background-color: var(--black);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    color: var(--white);
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0.5rem;
}

footer .social .fab:hover{
    color: var(--black);
    background-color: var(--white);
}

footer .content p{
    font-size: 2rem;
    color: var(--white);
}

footer .content p span{
    color: var(--blue);
}

/*--------------------- 5- Footer Area CSS (End) ---------------------*/



/*--------------------- 6- Scroll-Top (Start) ---------------------*/
.scroll-top{
    position: fixed;
    bottom: 1rem;
    right:1rem;
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    font-weight:lighter;
    background: var(--black);
    color: var(--white);
    border: 0.2rem solid var(--white);
    border-radius: 50%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .scroll-top:hover{
    background: var(--white);
    color:var(--black);
  }

/*--------------------- 6- Scroll-Top (End) ---------------------*/